.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
}


.actions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;

  a {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.icon {
  color: #ffffff;
}

.reload {
  font-size: 22px;
}

.close {
  font-size: 31px;
}