body {
  background-color: #10162b;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "Pixy", sans-serif;
}

.App {
  text-align: center;
  position: relative;
}